@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3rem;
}
header{
    background-color: rgb(155, 154, 154);
    padding: 10px;
    padding-bottom: 2px;
}
h1{
    text-align: center;
    margin: 15px;
}
#icon:hover{
    background-color: white;
    cursor: pointer;
}
menu li{
    display: none;
    background-color: rgb(94, 93, 93);
    padding: 8px;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.534);
    color: white;
    border: 0.2px solid rgba(255, 255, 255, 0.733);
}
menu li:hover{
    background-color: grey;
    transform: translate(-2px, -2px);
}
body{
    background-color: lightgray;
}
main{
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
h2{
    padding: 10px;
}
p{
    padding: 5px;
    text-align: justify;
    text-indent: 20px;
}